* {
    color: #ececec;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.App {
    background-color: rgba(0, 0, 0, 0.404);
    display: flex;
}